<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>BURGERS!</title>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
		<div class="container mx-auto">
			{{{ body }}}
		</div>
	</body>
</html>
