<div>
  <img src="../public/assets/images/burger.jpg" alt="Burger cartoon."/>
</div>

<h1 class="text-5xl text-center p-3 text-red-700">Burger Log</h1>

<div class="grid grid-cols-2 gap-4 p-3">
  <div>
    <h2>Burgers that are not devoured!</h2>
    <ol class="list-decimal p-3">
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block sleep=true}}
      {{/unless}}
      {{/each}}
    </ol>
  </div>

  <div>
    <h2>Burgers that are devoured!</h2>
    <ol class="list-decimal p-3">
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burger-block sleep=false}}
      {{/if}}
      {{/each}}
    </ol>
  </div>
</div>

<form id="create-form">
    <input class="border-2 p-3" type="text" id="newburger" name="burger">
  <button type="submit" class="bg-blue-900 hover:bg-white font-medium text-white hover:text-blue-900 p-3 rounded-lg">Add Burger</button>
</form>