<h1>Task Saver</h1>

<h3>Save the tasks you need to get to later</h3>

<ul>
  {{#each burgers}}
  	<li>
  	   <p>ID: {{this.id}}</p>
       <p>Burger: {{this.burger}}</p>
  	</li>
  {{/each}}
</ul>

<form id="create-form">
  <div class="form-group">
    <label for="new-burger">Create a Burger:</label>
    <input type="text" id="new-burger" name="burger">
  </div>
	<button type="submit">Add Burger</button>
</form>
