<li>
	{{burger}}
	
	{{#if sleep}}
	<button class="change-sleep p-2" data-id="{{id}}" data-newsleep="{{sleep}}">Ate it!
	</button>{{/if}}

	<button class="delete-burger p-2" data-id="{{this.id}}">Remove</button>
</li>
